.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    transition: opacity 0.3s ease, transform 0.3s ease;;
}
.popup-content {
    background-color: #000;
    margin: 15% auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.popup-content h2 {
    margin-bottom: 10px;
}
#language-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: white;
}
#language-search::placeholder {
    color: #aaa;
}
#language-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    background-color: #111;
    border-radius: 5px;
}
#language-list li {
    padding: 8px;
    background-color: #333;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
#language-list li:hover {
    background-color: #555;
}
.language, .account {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 1rem;
}

.close {
    position: relative;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.7;
}
.close:hover {
    opacity: 1;
}